

body {
/*	background-image:url('ducttape.jpg');
	background-size:cover;
	background-position: 50% -35%;
	background-repeat:no-repeat;*/
}

#duct-tape-wrapper { 
	position: relative;
}

h1 {
	color:gray;
	text-shadow: 2px 2px black;
	font-family: helvetica;
	background-color:white;
	text-transform: full-width;
	font-variant: small-caps;
	text-align:center;
}

h2 {
	color:black;
	font-family: helvetica;
	background-color:white;
	text-transform: full-width;
	font-variant: small-caps;
}

h3 {
	color:black;
	font-family: helvetica;
	background-color:white;
	text-transform: full-width;
	font-variant: small-caps;
}

body {
    margin:10px;
}

#header {
    width:600px;
    background-color: white;
}

p {
	background-color:white;
}

a {
	color:black;
}

a:hover {
 text-shadow: 2px 2px 2px #888; 
 text-decoration:none;
 color:black;
 font-size:120%;
}

a:visited {
	text-decoration:underline;
 color:black;
}

.container-fluid {
/*	position:fixed;
	right:50px;
	left:80px;
	top:60px;
	height: 200px;*/
}

#gradient {
	position: absolute;
	bottom:0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
#ducttape {
	max-width: 100%;
	z-index: -999;
	position: relative;
}