body {
	background-image:url('ducttape.jpg');
	background-position:left bottom;
	background-size:cover;
	font-family: helvetica;
}

h1 {
	color:gray;
	text-align:center;
	font-family: Baskerville;
	background-color:white;
	text-transform: full-width;
}

h2 {
	color:black;
	text-align:center;
	font-family: helvetica;
	text-shadow: 2px 2px coral;
}

h3 {
	color:black;
	text-align:center;
	font-family: helvetica;
	text-shadow: 2px 2px gray;
}

#cat {
	border: 2px solid black;
}
body {
    margin:10px;
}

#header {
    width:600px;
    background-color: #f0efee;
}

